body{
    background-color: #e8ecef;
}
.container{
    padding-top: 10rem;
    width: 80%;
    margin: auto;
    text-align: center;
}
.card-body{
    text-align: justify;
}
.form-group{
    padding: 1rem;
}
button{
    margin-left: 1rem;
}
.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}